@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');


$mulibold: 'muli-semibold', sans-serif;
$muli: 'Mulish', sans-serif;

$xxxl: 1800px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 400px;